
@model Entities.SettingsLogo

@{
    ViewData["Title"] = $"  حذف  لوگو  ✨ {Model.Settings_title_Logo} ";
}




<div class="row justify-content-center">

    <div class="col-xl-10">

        <div class="row">
            <div class="col-xl-1">
            </div>
            <div class="col-xl-10">


                <div class="d-flex align-items-center mb-3">
                    <div>

                        <h1 class="page-header mb-0">

                            آیا میخواهید
                            ❌  @Model.Settings_title_Logo   ❌
                            را حذف کنید؟

                        </h1>
                    </div>

                </div>
                <br />
                <div id="formControls" class="mb-5">

                    <div class="card">
                        <div class="card-body pb-2">

                            <div>
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Settings_Image_Logo)
                                    </dt>
                                    <dd class="col-sm-10">
                                        <img alt="@(Model.Settings_title_Logo )" class="mw-100 mh-100" src="@Model.Settings_Image_Logo" width="150" height="150">
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Settings_Image_Logo_Footer)
                                    </dt>
                                    <dd class="col-sm-10">
                                        <img alt="@(Model.Settings_title_Logo )" class="mw-100 mh-100" src="@Model.Settings_Image_Logo_Footer" width="150" height="150">
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Settings_alt_Logo)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Settings_alt_Logo)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Settings_title_Logo)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Settings_title_Logo)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Settings_Icon_Path)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Settings_Icon_Path)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.IsDelete)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.IsDelete)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.CreateDate)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CreateDate)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.LastUpdateDate)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.LastUpdateDate)
                                    </dd>
                                </dl>


                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" value="حذف" class="btn btn-outline-danger" /> |
                                    <a class="btn btn-outline-info" asp-action="Index">بازگشت</a>
                                </form>
                            </div>
                        </div>
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                    </div>
                </div>




            </div>

            <div class="col-xl-1">
            </div>

        </div>

    </div>

</div>