@inject IAccountService accountService
@inject ISettingsLogoesService logoService
@inject ISettingsCopyRightsService CopyRightsService
@inject ISettingsService SettingsService
@inject ISettingsLogoesService logoService
@{ var logo = logoService.TableNoTracking.FirstOrDefault(); }
<!-- Start Footer Area  -->
<div class="axil-footer-area axil-footer-style-1 footer-variation-2">


    <!-- Start Footer Top Area  -->
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <div class="logo text-right">
                        @if (logo != null)
                        {
                            <a href="@logo.Settings_Icon_Path"title="@logo.Settings_title_Logo">

                                <img class="dark-logo" src="@logo.Settings_Image_Logo_Footer" alt="@logo.Settings_alt_Logo"title="@logo.Settings_title_Logo">
                            </a>
                        }

                    </div>
                </div>

                <div class="col-lg-8 col-md-8">
                    @(await Component.InvokeAsync("SocialComponent"))
                </div>

            </div>
        </div>
    </div>
    <!-- End Footer Top Area  -->
    <!-- Start Copyright Area  -->
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9 col-md-8">
                    <div class="copyright-left">
                        <ul class="mainmenu justify-content-start">
                            <li>
                                <a class="hover-flip-item-wrapper" href="/ContactUs" rel="nofollow">
                                    <span class="hover-flip-item">
                                        <span data-text="تماس با ما">تماس با ما</span>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a class="hover-flip-item-wrapper" href="/AbouteUs" rel="nofollow">
                                    <span class="hover-flip-item">
                                        <span data-text="درباره ما">درباره ما</span>
                                    </span>
                                </a>
                            </li>

                            @if (!accountService.IsSignin(User))
                            {

                <li>
                    <a class="hover-flip-item-wrapper" href="/Identity/Account/Login" rel="nofollow">
                        <span class="hover-flip-item">
                            <span data-text="ورود">ورود</span>
                        </span>
                    </a>
                </li> }
                            else
                            {



                <li>
                    <a class="hover-flip-item-wrapper" asp-action="Index" asp-controller="Default" asp-area="Admin_Blog" rel="nofollow">
                        <span class="hover-flip-item">
                            <span data-text="پنل مدیریت"> پنل مدیریت</span>
                        </span>
                    </a>
                </li>
                                <li>
                                    <a class="hover-flip-item-wrapper" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" rel="nofollow">
                                        <span class="hover-flip-item">
                                            <span data-text="خروج">خروج</span>
                                        </span>
                                    </a>
                                </li>}

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="copyright-right text-end text-lg-start mt_md--20 mt_sm--20">
                        <p class="b3">© طراحی شده توسط تایکو</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copyright Area  -->
</div>
<!-- End Footer Area  -->