


@inject ISettingsLogoesService logoService
@{ var logo = logoService.TableNoTracking.FirstOrDefault(); }





<!-- Start Header -->
<header class="header axil-header  header-light header-sticky ">
    <div class="header-wrap">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12">
                <div class="logo text-right">
                    @if (logo != null)
                    {
                        <a href="@logo.Settings_Icon_Path" title="@logo.Settings_title_Logo">

                            <img class="dark-logo" src="@logo.Settings_Image_Logo_Footer" alt="@logo.Settings_alt_Logo" title="@logo.Settings_title_Logo">
                        </a>
                    }
                </div>
            </div>

            <div class="col-xl-6 d-none d-xl-block">
                <div class="mainmenu-wrapper">
                    <nav class="mainmenu-nav">
                        <!-- Start Mainmanu Nav -->
                        <ul class="mainmenu">



                            <li><a href="/">خانه</a></li>
                            @(await Component.InvokeAsync("MenuCategoryComponent"))
                            <li>
                            <a href="https://tie.co.ir/" title="شرکت تایکو">شرکت بازرسی خبرگان بین المللی تهران</a>
                            </li>

                            <li><a href="/AbouteUs" rel="nofollow">درباره ما</a></li>
                            <li><a href="/ContactUs" rel="nofollow">تماس با ما</a></li>

                        </ul>
                        <!-- End Mainmanu Nav -->
                    </nav>
                </div>
            </div>

            <div class="col-xl-3 col-lg-8 col-md-8 col-sm-9 col-12">
                <div class="header-search text-end d-flex align-items-center">
                    <form class="header-search-form d-sm-block d-none">
                        <div class="axil-search form-group">
                            <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                            <input type="text" class="form-control" placeholder="جستجو...">
                        </div>
                    </form>
                    <div class="mobile-search-wrapper d-sm-none d-block">
                        <button class="search-button-toggle"><i class="fal fa-search"></i></button>
                        <form class="header-search-form">
                            <div class="axil-search form-group">
                                <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                                <input type="text" class="form-control" placeholder="جستجو...">
                            </div>
                        </form>
                    </div>
    
                    <!-- Start Hamburger Menu  -->
                    <div class="hamburger-menu d-block d-xl-none">
                        <div class="hamburger-inner">
                            <div class="icon"><i class="fal fa-bars"></i></div>
                        </div>
                    </div>
                    <!-- End Hamburger Menu  -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Start Header -->
<!-- Start Mobile Menu Area  -->
<div class="popup-mobilemenu-area">
    <div class="inner">
        <div class="mobile-menu-top">
            <div class="logo">
                @if (logo != null)
                {
                    <a href="@logo.Settings_Icon_Path" title="@logo.Settings_title_Logo">

                        <img class="dark-logo" src="@logo.Settings_Image_Logo_Footer" alt="@logo.Settings_alt_Logo" title="@logo.Settings_title_Logo">
                    </a>
                 }
            </div>
            <div class="mobile-close">
                <div class="icon">
                    <i class="fal fa-times"></i>
                </div>
            </div>
        </div>
        <ul class="mainmenu">



            <li><a href="/">خانه</a></li>
            <li class="menu-item-has-children">
                <a href="#">مقالات</a>
                <ul class="axil-submenu">
             
                    @(await Component.InvokeAsync("MenuMobileCategoryComponent"))

                </ul>
            </li>
            <li><a href="/AbouteUs" rel="nofollow">درباره ما</a></li>
            <li><a href="/ContactUs" rel="nofollow">تماس با ما</a></li>
        </ul>
        <div class="buy-now-btn">
            <a href="https://tie.co.ir/" title="شرکت تایکو">شرکت بازرسی خبرگان بین المللی تهران</a>
        </div>
    </div>
</div>
<!-- End Mobile Menu Area  -->
