

@model IPagedList<Entities.Settings>

@{
    ViewData["Title"] = "تنظیمات عمومی   ";
    int counter = Convert.ToInt32(ViewBag.counter);
}



<div class="d-flex align-items-center mb-3">
    <div>

        <h1 class="page-header mb-0">@ViewData["Title"]</h1>
    </div>

    <div class="ms-auto">
        <a asp-action="Create" class="btn btn-outline-theme">
            <i class="fa fa-plus-circle fa-fw me-1"></i>
            اضافه کردن
        </a>
    </div>


</div>

<div class="card">
    <ul class="nav nav-tabs nav-tabs-v2 px-4">
        <li class="nav-item me-3">
            <a href="#allTab" class="nav-link active px-2"
               data-bs-toggle="tab">همه</a>
        </li>
    </ul>
    <div class="tab-content p-4">
        <div class="tab-pane fade show active" id="allTab">

            <div class="input-group mb-4">
                <button class="btn btn-outline-default dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    فیلتر محصولات
                    &nbsp;
                </button>

                <div class="flex-fill position-relative">
                    <div class="input-group">
                        <div class="input-group-text position-absolute top-0 bottom-0 bg-none border-0 pe-0"
                             style="z-index: 1020;">
                            <i class="fa fa-search opacity-5"></i>
                        </div>
                        <input type="text" class="form-control ps-35px" placeholder="جستجو محصولات " />
                    </div>
                </div>
            </div>


            <div class="table-responsive">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th class="pt-0 pb-2">
                            </th>
                            <th class="pt-0 pb-2">
                                ردیف
                            </th>

                            <th class="pt-0 pb-2">
                                نام
                            </th>
                            <th class="pt-0 pb-2">
                                تلفن
                            </th>


                            <th class="pt-0 pb-2">
                                موبایل
                            </th>
                            <th class="pt-0 pb-2">
                                تصویر بالای سایت
                            </th>
                            <th class="pt-0 pb-2">
                                تصویر پایین سایت
                            </th>
                       
                            <th class="pt-0 pb-2">
                                عملیات
                            </th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="w-10px align-middle">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="product1">
                                    <label class="form-check-label" for="product1"></label>
                                </div>
                            </td>
                            <td class="align-middle">
                                @counter
                            </td>

                            <td class="align-middle">

                                <div class="d-flex align-items-center">
                                 
                                    <div class="ms-3">
                                        <a href="#" class="text-white text-opacity-75 text-decoration-none">
                                            @(item.Settings_Sitename)
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                @(item.Settings_Tell)
                            </td>
                            <td class="align-middle">
                                @(item.Settings_Mobile)
                            </td>
                            <td class="align-middle">
                                <div class="w-50px h-50px bg-white bg-opacity-25 d-flex align-items-center justify-content-center">
                                    <img alt="@(item.Settings_Sitename )" class="mw-100 mh-100" src="@item.Settings_ImageTopMain">
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="w-50px h-50px bg-white bg-opacity-25 d-flex align-items-center justify-content-center">
                                    <img alt="@(item.Settings_Sitename )" class="mw-100 mh-100" src="@item.Settings_ImageFooter">
                                </div>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-round">ویرایش</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-round">حذف</a>
                            </td>

                        </tr>
                            counter++;
                        }
                    </tbody>
                </table>
            </div>

            <div class="d-md-flex align-items-center">

                @Html.PagedListPager(Model, page => Url.Action("Index", "Settings", new { currentPage = page }),
                  new PagedListRenderOptionsBase
                   {
                       DisplayLinkToIndividualPages = true,
                       DisplayPageCountAndCurrentLocation = false,
                       MaximumPageNumbersToDisplay = 5,
                       DisplayLinkToNextPage = PagedListDisplayMode.Never,
                       DisplayLinkToPreviousPage = PagedListDisplayMode.Never,

                   })
            </div>
        </div>

    </div>
    <div class="card-arrow">
        <div class="card-arrow-top-left"></div>
        <div class="card-arrow-top-right"></div>
        <div class="card-arrow-bottom-left"></div>
        <div class="card-arrow-bottom-right"></div>
    </div>
</div>
