





@model SettingsMetaDto

@{
    ViewData["Title"] = $"  ویرایش  متاتگ  ✨ {Model.Settings_ogtitle} ";
}


<div class="row justify-content-center">

    <div class="col-xl-10">

        <div class="row">
            <div class="col-xl-1">
            </div>
            <div class="col-xl-10">


                <div class="d-flex align-items-center mb-3">
                    <div>

                        <h1 class="page-header mb-0">@ViewData["Title"]</h1>
                    </div>
                    <div class="ms-auto">
                        <a asp-action="Index" class="btn btn-outline-danger">
                            بازگشت
                            <i class="fa fa-fast-backward fa-fw me-1"></i>

                        </a>
                    </div>
                </div>
                <br />
                <div id="formControls" class="mb-5">

                    <div class="card">
                        <div class="card-body pb-2">
                            <form asp-action="Edit" method="post" class="was-validated" enctype="multipart/form-data">
                                <input hidden asp-for="Id" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="row">
                                    <div class="col-xl-6">


                                        <div class="form-group">
                                            <label asp-for="Settings_keywords" class="control-label"></label>
                                            <input asp-for="Settings_keywords" class="form-control" />
                                            <span asp-validation-for="Settings_keywords" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_description" class="control-label"></label>
                                            <input asp-for="Settings_description" class="form-control" />
                                            <span asp-validation-for="Settings_description" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_canonical" class="control-label"></label>
                                            <input asp-for="Settings_canonical" class="form-control" />
                                            <span asp-validation-for="Settings_canonical" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_author" class="control-label"></label>
                                            <input asp-for="Settings_author" class="form-control" />
                                            <span asp-validation-for="Settings_author" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_ogtitle" class="control-label"></label>
                                            <input asp-for="Settings_ogtitle" class="form-control" />
                                            <span asp-validation-for="Settings_ogtitle" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_ogdescription" class="control-label"></label>
                                            <input asp-for="Settings_ogdescription" class="form-control" />
                                            <span asp-validation-for="Settings_ogdescription" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input hidden value="@ViewBag.Settings_ogimage" name="_Settings_ogimage" />
                                            <img src="@ViewBag.Settings_ogimage" width="150" height="150" />
                                            <label asp-for="Settings_ogimage" class="control-label"></label>
                                            <input asp-for="Settings_ogimage" class="form-control" />
                                            <span asp-validation-for="Settings_ogimage" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_ogurl" class="control-label"></label>
                                            <input asp-for="Settings_ogurl" class="form-control" />
                                            <span asp-validation-for="Settings_ogurl" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_ogsite_name" class="control-label"></label>
                                            <input asp-for="Settings_ogsite_name" class="form-control" />
                                            <span asp-validation-for="Settings_ogsite_name" class="text-danger"></span>
                                        </div>
                                       
                                    </div>

                                    <div class="col-xl-6">


                                      
                                        <div class="form-group">
                                            <label asp-for="Settings_twitter_title" class="control-label"></label>
                                            <input asp-for="Settings_twitter_title" class="form-control" />
                                            <span asp-validation-for="Settings_twitter_title" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_twitter_description" class="control-label"></label>
                                            <input asp-for="Settings_twitter_description" class="form-control" />
                                            <span asp-validation-for="Settings_twitter_description" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input hidden value="@ViewBag.Settings_twitter_image" name="_Settings_twitter_image" />
                                            <img src="@ViewBag.Settings_twitter_image" width="150" height="150" />
                                            <label asp-for="Settings_twitter_image" class="control-label"></label>
                                            <input asp-for="Settings_twitter_image" class="form-control" />
                                            <span asp-validation-for="Settings_twitter_image" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_Search_Console" class="control-label"></label>
                                            <input asp-for="Settings_Search_Console" class="form-control" />
                                            <span asp-validation-for="Settings_Search_Console" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_Google_Analytics" class="control-label"></label>
                                            <input asp-for="Settings_Google_Analytics" class="form-control" />
                                            <span asp-validation-for="Settings_Google_Analytics" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_Service_Adver_1" class="control-label"></label>
                                            <input asp-for="Settings_Service_Adver_1" class="form-control" />
                                            <span asp-validation-for="Settings_Service_Adver_1" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_Service_Adver_2" class="control-label"></label>
                                            <input asp-for="Settings_Service_Adver_2" class="form-control" />
                                            <span asp-validation-for="Settings_Service_Adver_2" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_Service_Adver_3" class="control-label"></label>
                                            <input asp-for="Settings_Service_Adver_3" class="form-control" />
                                            <span asp-validation-for="Settings_Service_Adver_3" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_Service_Adver_4" class="control-label"></label>
                                            <input asp-for="Settings_Service_Adver_4" class="form-control" />
                                            <span asp-validation-for="Settings_Service_Adver_4" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>




                                <div class="row">
                                    <button type="submit" class="btn btn-lg btn-outline-indigo">
                                        <i class="fa fa-plus-square fa-fw me-1"></i>

                                        ویرایش تغییرات
                                    </button>
                                </div>
                            </form>

                        </div>
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                    </div>
                </div>




            </div>

            <div class="col-xl-1">
            </div>

        </div>

    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
