

@model Entities.SettingAdvertising

@{
    ViewData["Title"] = $"  حذف  تبلیغ  ✨ {Model.Settings_Advertising_Title} ";
}




<div class="row justify-content-center">

    <div class="col-xl-10">

        <div class="row">
            <div class="col-xl-1">
            </div>
            <div class="col-xl-10">


                <div class="d-flex align-items-center mb-3">
                    <div>

                        <h1 class="page-header mb-0 mt-5">

                            آیا میخواهید
                            ❌  @Model.Settings_Advertising_Title   ❌
                            را حذف کنید؟

                        </h1>
                    </div>

                </div>
                <br />
                <div id="formControls" class="mb-5">

                    <div class="card">
                        <div class="card-body pb-2">

                            <div>
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Settings_Advertising_Title)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Settings_Advertising_Title)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Settings_href_Title)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Settings_href_Title)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Settings_alt_Title)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Settings_alt_Title)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Settings_title_Title)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Settings_title_Title)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.IsDelete)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.IsDelete)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.CreateDate)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CreateDate)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.LastUpdateDate)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.LastUpdateDate)
                                    </dd>
                                </dl>


                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" value="حذف" class="btn btn-outline-danger" /> |
                                    <a class="btn btn-outline-info" asp-action="Index">بازگشت</a>
                                </form>
                            </div>
                        </div>
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                    </div>
                </div>




            </div>

            <div class="col-xl-1">
            </div>

        </div>

    </div>

</div>