@model IEnumerable<WebLog_Category>





<!-- Start Categories List  -->
<div class="axil-categories-list axil-section-gap bg-color-grey d-flex">
    <div class="container">

        <div class="row">
        
                @foreach (var item in Model)
            {
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <!-- Start Post Grid  -->
                    <div class="content-block post-grid post-grid-transparent post-grid-small post-overlay-bottom">
                        <div class="post-thumbnail">
                            <a href="/category/@item.Url_Meta">
                                <img src="@item.WebLog_Category_ImageHome" alt="@item.WebLog_Category_Title_One">
                            </a>
                        </div>
                        <div class="post-grid-content">
                            <div class="post-content">
                                <div class="post-cat">
                                    <div class="post-cat-list">
                                        <a class="hover-flip-item-wrapper" href="/category/@item.Url_Meta">
                                            <span class="hover-flip-item">
                                                <span data-text="@item.Title_Meta">@item.Title_Meta</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <h5 class="title">
                                    <a href="/category/@item.Url_Meta">
                                        @item.WebLog_Category_ShortDescription
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <!-- Start Post Grid  -->
                </div>
                  
                }
         
        </div>
    </div>
</div>
<!-- Start Categories List  -->
