@model IEnumerable<WebLog>
@if (Model!=null)
{
    int counter = 1;

 <!-- Start Trending Post Area  -->
<div class="axil-trending-post-area index-1 axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-right">
                    <h3 class="title">آخرین مطالب</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <!-- Start Axil Tab Content  -->
                <div class="tab-content">

                    <!-- Single Tab Content  -->
                    <div class="row trend-tab-content tab-pane fade show active" id="trendone" role="tabpanel" aria-labelledby="trend-one">
                        <div class="col-lg-8">
                            @foreach (var item in Model)
                            {
                                <!-- Start Single Post  -->
                                <div class="content-block trend-post post-order-list axil-control">
                                    <div class="post-inner">
                                        <span class="post-order-list">@counter</span>
                                        <div class="post-content">
                                            <div class="post-cat">
                                                <div class="post-cat-list">
                                                    <a class="hover-flip-item-wrapper" href="@item.WebLog_Groups.Url_Meta"title="@item.WebLog_Groups.WebLog_Group_Title_Two">
                                                        <span class="hover-flip-item">
                                                            <span data-text="@item.WebLog_Groups.WebLog_Group_Title_One">@item.WebLog_Groups.Title_Meta</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <h3 class="title"><a href="@item.Url_Meta"title="@item.Weblog_Title_Two">@item.Weblog_Title_One</a></h3>
                                            <div class="post-meta-wrapper">
                                                <div class="post-meta">
                                                    <div class="content">
                                                    
                                                        <ul class="post-meta-list">
                                                            <li>@item.LastUpdateDate.ToShamsi()</li>
                                                            <li>@item.Weblog_StudyTime  دقیقه زمان مطالعه</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <ul class="social-share-transparent justify-content-end">
                                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-link"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-thumbnail">
                                        <a href="@item.Url_Meta">
                                            <img src="@item.Weblog_Thumbnail_Image" alt="@item.Title_Meta"title="@item.Weblog_Title_Two">
                                        </a>
                                    </div>
                                </div>
                                <!-- End Single Post  -->
                                counter++;
                            }

                        </div>
                    </div>
                    <!-- Single Tab Content  -->

                </div>
                <!-- End Axil Tab Content  -->
            </div>
        </div>
    </div>
</div>
<!-- End Trending Post Area  -->


}