
@model WebLog
@{
    ViewData["Title"] = Model.Title_Meta;
}

<!-- Start Banner Area -->
<div class="banner banner-single-post post-formate post-standard alignwide">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav justify-content-center ">
                    <li class="nav-item">
                        <a href="/" class="nav-link text-secondary">
                            خانه
                            <span class="fa fa-long-arrow-left text-danger"></span>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/category/@ViewBag.categoryUrl" class="nav-link text-secondary">
                            @ViewBag.categoryName
                            <span class="fa fa-long-arrow-left text-danger"></span>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/group/@ViewBag.groupUrl" class="nav-link text-secondary">
                            @ViewBag.groupName
                            <span class="fa fa-long-arrow-left text-danger"></span>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/blog/@ViewBag.blogUrl" class="nav-link active">
                            @ViewBag.blogName
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-12">
                <!-- Start Single Slide  -->
                <div class="content-block">
                    <!-- Start Post Thumbnail  -->
                    <div class="post-thumbnail">
                        <img src="@Model.Weblog_Image" alt="@Model.Weblog_Title_One" title="@Model.Weblog_Title_Two">
                    </div>
                    <!-- End Post Thumbnail  -->
                    <!-- Start Post Content  -->
                    <div class="post-content">
                        <div class="post-cat">
                            <div class="post-cat-list">
                                <a class="hover-flip-item-wrapper" href="@Model.Url_Meta" title="@Model.Weblog_Title_Two">
                                    <span class="hover-flip-item">
                                        <span data-text="  @Model.Title_Meta">
                                            @Model.Title_Meta
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <h1 class="title">
                            @Model.Weblog_Title_One
                        </h1>
                        <!-- Post Meta  -->
                        <div class="post-meta-wrapper">
                            <div class="post-meta">

                                <div class="content">
                                    <h6 class="post-author-name">
                                        <a class="hover-flip-item-wrapper" href="author.html">
                                            <span class="hover-flip-item">
                                                <span data-text="@Model.Weblog_Writer">  @Model.Weblog_Writer</span>
                                            </span>
                                        </a>
                                    </h6>
                                    <ul class="post-meta-list">
                                        <li>@Model.LastUpdateDate.ToShamsi()</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Post Content  -->
                </div>
                <!-- End Single Slide  -->
            </div>

        </div>
    </div>
</div>
<!-- End Banner Area -->
<!-- Start Post Single Wrapper  -->
<div class="post-single-wrapper axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="axil-post-details text-justify">

                    @Html.Raw(Model.Weblog_Text)
                    <!-- Start Author  -->
                    <div class="about-author">
                        <div class="media">

                            <div class="media-body">
                                <div class="author-info">
                                    <h5 class="title">
                                        <a class="hover-flip-item-wrapper" href="https://tie.co.ir">
                                            <span class="hover-flip-item">
                                                <span data-text="@Model.Weblog_Writer">@Model.Weblog_Writer</span>
                                            </span>
                                        </a>
                                    </h5>
                                    <span class="b3 subtitle"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End Author  -->



                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="float-left">
                    <a class="btn bg-light py-1 px-4 m-1 fa12 radius25" onclick="copyToClip()">
                        <i class="fal fa-link"></i>
                        لینک کوتاه
                        <input type="text" value="https://blog.tie.co.ir/@Model.Weblog_ShortLink" id="myInput" disabled>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Post Single Wrapper  -->
<script>
    function copyToClip() {
        /* Get the text field */
        var copyText = document.getElementById("myInput");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value);

        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
    }
</script>